.PopupBox {
    width: 300px;
    height: 150px;
    background-color: rgba(198, 194, 194, 1.0);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}