.AddCategoryBox {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(198, 194, 194, 1.0);
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.AddCategoryTitle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 2px solid black;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}

.OverlayBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

